/*body {*/
/*    padding-top: 2rem;*/
/*    font-family: Eurostile, open sans, helvetica neue, Helvetica, Arial, sans-serif;*/
/*    text-decoration-color: burlywood;*/
/*    font-style: normal;*/
/*    scroll-behavior: smooth;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    background-color: #18221d;*/
/*}*/

/* ----------------------------------------------------------- Layout --- */
.page {
    margin-left: 2rem;
}

.pageContent {
    position: relative;
    top: 15%;
    bottom: 0;
    left: 5%;
    right: 5%;
    flex-direction: row;
    align-items: normal;
    /* justify-content: center; */
}


h1 {
    /* font-family: Eurostile; */
    color: #00adef;
    font-kerning: normal;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

.jumbo {
    max-width: 600px;
    padding: 10%;
    margin-top: 5px;
    /* background-color: rgba(53, 55, 74, 0.4); */
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

.JumboImage {
    width: 600px;
}

.stick-to-top {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* ------------------------------------------------------------ Nav Top */
.nav-top {
    background-color: darkgoldenrod;
    position: fixed;
    width: 100%;
    height: 50px;
}

/* ------------------------------------------------------------ Grid */

.container {
    display: flex;
    flex-direction: row;
}
